:root {
    --primary-color-font: rgb(231, 233, 237);
    --light-yellow: rgb(227, 240, 190);
    --primary-font: "Inter", serif;
    --background-color: rgb(23, 24, 28);
    --dark-purple: rgb(90, 33, 147);
    --border-color: rgba(226, 229, 242, 1);
    --error-color: rgba(186, 26, 26, 1);
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Popins", sans-serif !important;
    font-size: 14px;
    color: var(--primary-color-font);
}


